[Unit]
Description=My car rental app
After=network-online.target

[Service]
Type=simple
User={{app_user}}
ExecStart=/usr/bin/java -jar {{app_path}}
Restart=always

[Install]
WantedBy=multi-user.target